/* 清除元素默认内外边距 */
* {
    margin: 0;
    padding: 0;
}

/* 斜体不倾斜 */
em,
i {
    font-style: normal;
}

/* 去掉列表前面的点 */
li {
    list-style: none;
}

/* 图片没有边框  去掉图片底册的空白间隙*/
img {
    border: 0;
    vertical-align: middle;
}

/* button按钮变成小手 */
button {
    cursor: pointer;
}

/* 取消连接下划线 */
a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #e33333;
}

button,
input {
    font-family: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    outline: none;
}

.hide,
.none {
    display: none;
}

/* 清除浮动 */
.clearfix::after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
}

.clearfix {
    *zoom: 1;
}