/* 公共样式 */
/* 左浮动 */
.fl {
    float: left;
}

/* 右浮动 */
.fr {
    float: right;
}

@font-face {
    /* 1注意字体名称 */
    font-family: 'icomoon';
    /* 注意路径 */
    src: url('../fonts/icomoon.eot?axvffw');
    src: url('../fonts/icomoon.eot?iefix') format('embedded-opentype'),
        url('../fonts/icomoon.svg?axvffw#icomoon') format('svg'),
        url('../fonts/icomoon.woff?axvffw') format('woff'),
        url('../fomts/icomoon.ttf?axvffw') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icomoon {
    font-family: 'icomoon';
    font-size: 18px;
    line-height: 26px;
    color: rgb(102, 102, 102);
}

/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

.style-red {
    color: #c81623;
}

/* 右上导航栏竖杠 */
.spacer {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 12px 0;
}

/* 顶部快捷导航栏 */
.shortcut {
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}

.shortcut li {
    float: left;
}

.header {
    position: relative;
    height: 105px;
}

.logo {
    position: absolute;
    top: 25px;
    left: 0;
    width: 175px;
    height: 56px;
}

.logo a {
    display: block;
    /* 溢出隐藏 */
    overflow: hidden;
    width: 160px;
    height: 56px;
    background: url(../img/logo.png);
    text-indent: -100em;
}

.serach {
    position: absolute;
    top: 25px;
    left: 348px;
}

/* 搜索框 */
.text {
    float: left;
    width: 455px;
    height: 32px;
    border: 2px solid #b1191a;
    padding-left: 10px;
    color: #ccc;
}

/* 搜索按钮 */
.btn {
    float: left;
    width: 82px;
    height: 36px;
    background-color: #b1191a;
    border: 0;
    font-size: 16px;
    color: #f1f1f1;
}

/* 搜索框下面的 */

.hotwords {
    position: absolute;
    top: 65px;
    left: 348px;
}

.hotwords a {
    margin: 0 8px;
    font-size: 14px;
}

.shopcar {
    position: absolute;
    top: 25px;
    right: 64px;
    width: 138px;
    height: 34px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    line-height: 34px;
    text-align: center;
}

.car {
    font-family: 'icomoon';
    font-size: 16px;
    margin-right: 8px;
    color: #da5555;
}

.arrow {
    font-family: 'icomoon';
    margin-left: 3px;
}

.count {
    position: absolute;
    top: -5px;
    left: 105px;
    height: 14px;
    background-color: #e60012;
    padding: 0 3px;
    line-height: 14px;
    color: #fff;
    border-radius: 7px 7px 7px 0;
}

.nav {
    height: 48px;
    border-bottom: 2px solid #b1191a;
}

.dropdown {
    width: 209px;
    height: 50px;
    background-color: pink;
}

.dropdown .dt {
    height: 100%;
    background-color: #b1191a;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 49px;
}

.dropdown .dd {
    height: 466px;
    background-color: #c81623;
}

.menu_item {
    height: 31px;
    line-height: 31px;
    margin-left: 1px;
    padding: 0 10px;
    transition: padding .5s;
}

.menu_item:hover {
    padding: 0 20px;
}

.menu_item:hover {
    background-color: #fff;
}

.menu_item:hover a {
    color: #c81623;
}

.menu_item a {
    font-size: 14px;
    color: #fff;
}

.menu_item i {
    float: right;
    font-family: "icomoon";
    font-size: 18px;
    color: #fff;
}

.navitems {
    margin-left: 10px;
}

.navitems li {
    float: left;
}

.navitems li a {
    display: block;
    height: 45px;
    padding: 0 25px;
    line-height: 45px;
    font-size: 16px;
}

.footer {
    height: 386px;
    background-color: #f5f5f5;
    padding-top: 30px;
}

.mod_service {
    height: 79px;
    border-bottom: 1px solid #ccc;
}

.mod_service li {
    float: left;
    width: 300px;
    height: 79px;
}

.mod_service_icon {
    float: left;
    width: 41px;
    height: 42px;
    background: url(../img/icos.png) no-repeat;
    margin-left: 35px;
}

.mod_service_duo {
    background-position: 0 -192px;
}

.mod_service_kuai {
    background-position: -40px -192px;
}

.mod_service_hao {
    background-position: -80px -192px;
}

.mod_service_sheng {
    background-position: -120px -192px;
}

.mod_service_tit {
    float: left;
    margin-left: 5px;
}

.mod_service_tit h5 {
    margin: 8px 0;
    font-size: 18px;
    color: rgb(68, 68, 68)
}

.mod_help {
    height: 187px;
    border-bottom: 1px solid #ccc;
}

.mod_help_item {
    float: left;
    width: 150px;
    padding: 16px 0 0 50px;
}

.mod_help_item dt {
    height: 30px;
    font-size: 18px;
    color: rgb(102, 102, 125);

}

.mod_help_item dd {
    height: 22px;
    font-size: 14px;
    color: rgb(102, 102, 102);
}

.mod_help_app dt,
.mod_help_app p {
    padding-left: 15px;
}

.mod_help_app img {
    margin: 4px 0;
}

.mod_copyright {
    text-align: center;
    font-size: 12px;
}

.mod_copyright_links {
    margin: 20px 0 15px 0;
}

.mod_copyright_info {
    line-height: 18px;
}

.mod_copyright P {
    color: rgb(102, 102, 102);
}