.de_container {
    margin-top: 20px;
}

.crumb_wrap a {
    margin-right: 10px;
}

.crumb_wrap {
    height: 25px;
}

.preview_list {
    position: relative;
    height: 60px;
    background-color: pink;
    margin-top: 60px;
}

.list_item {
    width: 320px;
    height: 60px;
    margin: 0 auto;
    background-color: aqua;
}

.list_item li {
    float: left;
    width: 56px;
    height: 56px;
    border: 2px solid transparent;
    background-color: skyblue;
    margin: 0 2px;
}

.list_item li.current {
    border-color: #c81623;
}

.arrow_prev,
.arrow_next {
    position: absolute;
    top: 15px;
    width: 22px;
    height: 32px;
    background-color: purple;
}

.arrow_prev {
    left: 0;
}

.arrow_next {
    right: 0;
}

.preview_wrap {
    width: 400px;
    height: 590px;
}

.previw_img {
    height: 398px;
    border: 1px solid #ccc;
}

.itemInfo_wrap {
    width: 718px;
}

.sku_name {
    font-size: 16px;
    font-weight: 700;
    height: 30px;
}

.new {
    color: rgb(228, 57, 60);
    height: 32px;
}

.summary_price,
.summary_promotion {
    position: relative;
    background-color: #fee9eb;
    padding: 10px 0;
}

.summary dd,
.summary dt {
    float: left;
}

.summary dt {
    width: 70px;
    padding-left: 10px;
    line-height: 36px;
}

.summary dl {
    overflow: hidden;
}

.price {
    font-size: 24px;
    color: #e12228;
}

.summary_price a {
    color: #e12228;
}

.remark {
    position: absolute;
    right: 10px;
    top: 16px;
}

.summary_promotion {
    padding-top: 0;
}

.summary_promotion dd,
.summary_stock dd {
    width: 600px;
    line-height: 35px;
}

.summary_promotion em {
    display: inline-block;
    width: 50px;
    height: 22px;
    background-color: #e12228;
    color: #fff;
    text-align: center;
    line-height: 22px;
}

.summary_support dd {
    line-height: 35px;
}

.choose_color a {
    display: inline-block;
    width: 80px;
    height: 41px;
    background-color: #f7f7f7;
    border: 1px solid #ededed;
    text-align: center;
    line-height: 41px;
}

.summary a.current {
    border-color: #c81623;
}

.choose_version {
    margin: 10px 0;
}

.choose_version a,
.choose_type a {
    display: inline-block;
    height: 32px;
    padding: 0 12px;
    background-color: #f7f7f7;
    border: 1px solid #ededed;
    text-align: center;
    line-height: 32px;
}

.choose_btns {
    margin-top: 20px;
}

.choose_amount {
    position: relative;
    float: left;
    width: 51px;
    height: 46px;
    background-color: pink;
}

.choose_amount input {
    width: 34px;
    height: 44px;
    border: 1px solid #ccc;
    text-align: center;
}

.add,
.reduce {
    position: absolute;
    right: 0;
    width: 15px;
    height: 22px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    text-align: center;
}

.add {
    top: 0;
}

.reduce {
    bottom: 0;
    /* 禁止鼠标样式 */
    cursor: not-allowed;
}

.addcar {
    float: left;
    width: 142px;
    height: 46px;
    background-color: #e12228;
    text-align: center;
    line-height: 46px;
    font-size: 18px;
    color: #fff;
    margin-left: 10px;
    font-weight: 700;
}

.product_detail {
    margin-bottom: 50px;
}

.aside {
    width: 208px;
    border: 1px solid #ccc;
}

.tab_list {
    height: 34px;
}

/* 背景颜色和底部边框都给li */
.tab_list li {
    float: left;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    height: 33px;
    text-align: center;
    line-height: 33px;
    cursor: pointer;
}

/* 鼠标经过li的时候背景变成白色以及下边框 */
.tab_list .current {
    background-color: #fff;
    border-bottom: 0px;
    color: red;
}

.first_tab {
    width: 104px;
}

.second_tab {
    width: 103px;
    border-left: 1px solid #ccc;
}

.tab_con {
    padding: 0 10px;
}

.tab_con li {
    border-bottom: 1px solid #ccc;
}

.tab_con li h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
}

.aside_price {
    font-weight: 700;
    margin: 10px 0;
}

.as_addcar {
    display: block;
    width: 88px;
    height: 26px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    margin: 10px auto;
    text-align: center;
    line-height: 26px;
}

.dital {
    width: 978px;
}

.detail_tab_list {
    height: 39px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.detail_tab_list li {
    float: left;
    height: 39px;
    line-height: 39px;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
}

.detail_tab_list .current {
    background-color: #cb1623;
    color: #fff;
}

.item_info {
    padding: 20px 0 0 20px;
}

.item_info li {
    line-height: 25px
}

.more {
    float: right;
    font-weight: 700;
    font-family: 'icomoon';
}